div {
    padding: 16px;
    margin: 20px;
    }
  
button {
    width: 150px;
    height:60px;
    background-color:rgba(172, 185, 211, 0.331);
    margin: 5px;
    padding:10px;
    border-radius: 50px;
    outline:none;
    font-size:12px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
       }